{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Building Owners" %}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Address" %}</th>
            <th>{% trans "City" %}</th>
            <th>{% trans "ZIP Code" %}</th>
            <th>{% trans "IČO" %}</th>
            <th>{% trans "DIČ" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for owner in owners %}
        <tr onclick="window.location.href = `{% url 'haspro_app:buildingowner-edit' owner.pk %}`;">
            <td>{{ owner.name }}</td>
            <td>{{ owner.address }}</td>
            <td>{{ owner.city }}</td>
            <td>{{ owner.zipcode }}</td>
            <td>{{ owner.ico }}</td>
            <td>{{ owner.dic }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="6">{% trans "No owners found." %}</td></tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'haspro_app:buildingowner-create' %}" class="btn-add">{% trans "Add Owner" %}</a>

{% endblock %}
