{% extends 'base.html' %}
{% block content %}
<h2>Building Owners</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>IČO</th>
            <th>DIČ</th>
        </tr>
    </thead>
    <tbody>
        {% for owner in owners %}
        <tr onclick="window.location.href = `{% url 'haspro_app:buildingowner-edit' owner.pk %}`;">
            <td>{{ owner.name }}</td>
            <td>{{ owner.address }}</td>
            <td>{{ owner.city }}</td>
            <td>{{ owner.zipcode }}</td>
            <td>{{ owner.ico }}</td>
            <td>{{ owner.dic }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No owners found.</td></tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'haspro_app:buildingowner-create' %}" class="btn-add">Add Owner</a>

{% endblock %}
