{% extends 'base.html' %}
{% block content %}
<h2>Buildings</h2>
<div class="filter">
    <label class="filter-option" for="firedist" onclick="var checkbox = document.getElementById('firedist'); checkbox.checked = !checkbox.checked; document.cookie='firedist=' + (checkbox.checked ? '1' : ''); location.reload();">
        <input type="checkbox" id="firedist" name="firedist" value="1" {% if request.COOKIES.firedist %}checked{% endif %}>
        Show only with fire extinguishers
    </label>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>Owner</th>
            <th>Manager</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for building in buildings %}
        <tr onclick="window.location.href = `{% url 'haspro_app:building-edit' building.pk %}`;">
            <td>{{ building.building_id }}</td>
            <td>{{ building.address }}</td>
            <td>{{ building.city }}</td>
            <td>{{ building.zipcode }}</td>
            <td>{{ building.owner }}</td>
            <td>{{ building.manager }}</td>
            <td>{{ building.note }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No buildings found.</td></tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'haspro_app:building-create' %}" class="btn-add">Add Building</a>
{% endblock %}
