{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }} fade-message">
                <div>{{ message }}</div>

                {% if show_close_btn %}
                <button type="button" class="close-btn" onclick="this.parentElement.remove();"><i class="fas fa-times"></i></button>
                {% endif %}
            </div>
        {% endfor %}
    </div>


    <script>
    setTimeout(function() {
        var el = document.querySelectorAll('.fade-message');
        el.forEach(function(div) {
            div.style.transition = "opacity 3s";
            div.style.opacity = 0;
            setTimeout(function() { div.remove(); }, 3000);
        });
    }, 2000);
    </script>
    
{% endif %}

