{% extends 'base.html' %}
{% block content %}
<h2>Fire Distinguishers</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Kind</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Serial Number</th>
            <th>Eliminated</th>
            <th>Last Inspection</th>
            <th>Manufactured At</th>
            <th>Last Fullfilment</th>
            <th>Current Placement</th>
        </tr>
    </thead>
    <tbody>
        {% for fd in firedistinguisher_list %}
        <tr onclick="window.location.href = `{% url 'haspro_app:firedistinguisher-edit' fd.pk %}`;">
            <td>{{ fd.kind }}</td>
            <td>{{ fd.type }}</td>
            <td>{{ fd.manufacturer }}</td>
            <td>{{ fd.serial_number }}</td>
            <td>{{ fd.eliminated|yesno:"Yes,No" }}</td>
            <td>{{ fd.last_inspection }}</td>
            <td>{{ fd.manufactured_year }}</td>
            <td>{{ fd.last_fullfilment }}</td>
            <td>{{ fd.get_current_placement.building }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No fire distinguishers found.</td></tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'haspro_app:firedistinguisher-create' %}" class="btn-add">Add Fire Distinguisher</a>
{% endblock %}
