{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Fire Extinguishers" %}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Kind" %}</th>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Power" %}</th>
            <th>{% trans "Manufacturer" %}</th>
            <th>{% trans "Serial Number" %}</th>
            <th>{% trans "Eliminated" %}</th>
            <th>{% trans "Manufactured Year" %}</th>
            <th>{% trans "Next Inspection" %}</th>
            <th>{% trans "Current Placement" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for fd in firedistinguisher_list %}
        <tr onclick="window.location.href = `{% url 'haspro_app:firedistinguisher-edit' fd.pk %}`;">
            <td>{{ fd.get_kind_display }}</td>
            <td>{{ fd.size_short }}</td>
            <td>{{ fd.power }}</td>
            <td>{{ fd.manufacturer }}</td>
            <td>{{ fd.serial_number }}</td>
            <td>{{ fd.eliminated|yesno:"Ano,Ne" }}</td>
            <td>{{ fd.manufactured_year }}</td>
            <td>{{ fd.next_inspection }}</td>
            <td>{{ fd.get_current_placement.building }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="8">{% trans "No fire extinguishers found." %}</td></tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'haspro_app:firedistinguisher-create' %}" class="btn-add">{% trans "Add Fire Extinguisher" %}</a>
{% endblock %}
