{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
                HasPro
            {% endblock head_title %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/haspro.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/user_management.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'ishas.ico' %}">
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        {% block body %}
            <nav>
                <a href="/">HasPro</a>
                <div class="nav-right">
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url_ %}
                        {% if email_url_ %}
                            <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                        {% endif %}
                        {% url 'account_change_password' as change_password_url_ %}
                        {% if change_password_url_ %}
                            <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                        {% endif %}
                        {% url 'socialaccount_connections' as connections_url_ %}
                        {% if connections_url_ %}
                            <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                        {% endif %}
                        {% url 'mfa_index' as mfa_url_ %}
                        {% if mfa_url_ %}
                            <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                        {% endif %}
                        {% url 'usersessions_list' as usersessions_list_url_ %}
                        {% if usersessions_list_url_ %}
                            <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                        {% endif %}
                        {% url 'account_logout' as logout_url_ %}
                        {% if logout_url_ %}
                            <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                        {% endif %}
                    {% else %}
                        {% url 'account_login' as login_url_ %}
                        {% if login_url_ %}
                            <a href="{{ login_url_ }}">{% trans "Sign In" %}</a>
                        {% endif %}
                        {% url 'account_signup' as signup_url_ %}
                        {% if signup_url_ %}
                            <a href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </nav>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
